
<footer class="footer pt-7 pb-6 bg-primary text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <p><strong>Obicheck</strong> is a using the dataset from UCI and is also available on Github.</p>
                <ul class="social-buttons mb-5 mb-lg-0">
                    <li>
                        <a href="https://github.com/DevJ0e/Obesity" aria-label="github social link" class="icon icon-xs icon-white"
                            data-toggle="tooltip" data-placement="top" title="Star us on Github">
                            <span class="fab fa-github"></span>
                        </a>
                    </li>
                    <li>
                        <a href="https://archive.ics.uci.edu/ml/datasets/Estimation+of+obesity+levels+based+on+eating+habits+and+physical+condition+"
                            class="icon icon-xs icon-white" aria-label="dribbble social link" data-toggle="tooltip"
                            data-placement="top" title="Check out the data source">
                            <span class="fab fa-dribbble"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
     
    </div>
</footer>
