
    <header class="header-global">
        <nav id="navbar-main" aria-label="Primary navigation" class="navbar navbar-main navbar-expand-lg navbar-theme-primary headroom navbar-dark">
            <div class="container position-relative">
                <a class="navbar-brand mr-lg-5" href="/">
                    <img class="navbar-brand-dark" src="/static/assets/img/brand/obicheck.svg" alt="Logo Pixel Light">
                    
                </a>
                
                <div class="container">
                 
                    <div class="container-fluid px-0">
                        <div class="d-flex justify-content-between w-100" id="navbarSupportedContent">
                          <div class="d-flex">
                           <ul class="nav pcoded-inner-navbar">
                                      
                              <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" 
                                  class="nav-item {% if 'index' in segment %} active {% endif %}">
                                  <a href="/" class="nav-link "title="welcome" data-toggle="tooltip" ><span class="pcoded-micon"><i class="fas fa-home"></i></span><span class="pcoded-mtext">Home</span></a>
                              </li>
                            
                              <li data-username="basic components Button Alert Badges breadcrumb Paggination progress Tooltip popovers Carousel Cards Collapse Tabs pills Modal Grid System Typography Extra Shadows Embeds" class="nav-item">
                                  <a href="/model" class="nav-link" title="Click to learn how it works" data-toggle="tooltip" ><span class="pcoded-micon"><i class="far fa-sun mr-2"></i></span><span class="pcoded-mtext">Models</span></a>
                                
                              </li>
                              <li data-username="form elements advance componant validation masking wizard picker select" 
                                  class="nav-item {% if 'ui-forms' in segment %} active {% endif %}">
                                  <a href="/inference" class="nav-link "title="Check out your weight level" data-toggle="tooltip" ><span class="pcoded-micon"><i class="fas fa-tachometer-alt mr-2"></i></span><span class="pcoded-mtext">Calculate</span></a>
                              </li>
                              <li data-username="Table bootstrap datatable footable" 
                                  class="nav-item {% if 'ui-tables' in segment %} active {% endif %}">
                                  <a href="/history" class="nav-link " title="Review all entries" data-toggle="tooltip" ><span class="pcoded-micon"><i class="far fa-user-circle mr-2"></i></span><span class="pcoded-mtext">History</span></a>
                              </li>
                              
                           </ul>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <section>

    </section>